@use "../utils/mixins";
@use "../utils/variables";
@use "colors";
@use "typography";

/*-----------------
	2. General
-----------------------*/

body {
	font-family: typography.$body__font__family;
	font-size: typography.$body__font__size;
	color: colors.$darkgray;
	font-weight: typography.$regular;
	line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
	color: colors.$secondarycolor;
}
a {
	color: colors.$darkgray;
	cursor: pointer;
	text-decoration: none;
	@include mixins.transition(all 0.5s ease-in-out 0s);
	&:hover{
		color: colors.$secondarycolor;
	}
	&:focus {
		outline: 0;
	}
}
img {
	max-width: 100%;
	height: variables.$auto;
}
strong {
	font-weight: typography.$bold;
}
ul {
	padding-left: 0;
	margin-bottom: 0;
	li {
		list-style-type: variables.$none;
	}
}
.navigation {
	font-weight: typography.$medium;
}
.tag-primary {
	background: colors.$primarycolor;
	color: colors.$white;
}
.tag-yellow {
	background: colors.$yellow__dark;
	color: colors.$white;
}
.tag-active {
	background: colors.$active_color;
	color: colors.$secondarycolor;
}
.tag-blue {
	background: colors.$star__blue;
	color: colors.$white;
}
.py-60 {
	padding-top: variables.$value__60;
	padding-bottom: variables.$value__60;
	@include mixins.respond-below(custom767) {
		padding-top: variables.$value__30;
		padding-bottom: variables.$value__30;
	}
}
.py-30 {
	padding-top: variables.$value__30;
	padding-bottom: variables.$value__30;
	@include mixins.respond-below(custom767) {
		padding-top: variables.$value__15;
		padding-bottom: variables.$value__15;
	}
}
.mb-60 {
	margin-bottom: variables.$value__60;
	@include mixins.respond-below(custom767) {
		margin-bottom: variables.$value__30;
	}
}
.mb-40 {
	margin-bottom: variables.$value__40;
	@include mixins.respond-below(custom767) {
		margin-bottom: variables.$value__20;
	}
}
.card {
	border: 1px solid colors.$lightgray;
	border-radius: variables.$value__10;
	padding: 24px;
	color: inherit;
	@include mixins.respond-below(custom767) {
		padding: 20px;
	}
}
.primary-text {
	color: colors.$primarycolor;
}
.btn-row {
	margin-top: variables.$value__40;
	padding: variables.$value__20;
	box-shadow: colors.$row__box__shadow;
}
.white-bg {
	background: colors.$white;
}
.corner-radius-10 {
	border-radius: variables.$value__10;
}
.sub-title {
	font-size: typography.$font__size__20;
	@include mixins.respond-below(custom991) {
        font-size: typography.$font__size__18;
    }
	@include mixins.respond-below(custom767) {
        font-size: typography.$font__size__16;
    }
}