@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

/*-----------------
    28. Blog
-----------------------*/

.blog {
	.featured-venues-item {
		padding-bottom: 24px;
		.listing-item {
			h3 {
				margin-bottom: 15px;
				&.blog-title {
					margin-bottom: 24px;
				}
			}
			p {
				margin-bottom: 24px;
			}
			.listing-img {
				img {
					width: 100%;
				}
				&:hover { 
					img {
						-webkit-transform: scale(1.1) rotate(1deg);
			    		-ms-transform: scale(1.1) rotate(1deg);
					}
				}
			}
		}
	}
}
.similar-list {
	.listing-item {
		.listing-button {
			padding: 24px 0 0;
		}
	}
}
.blog-sidebar { 
	@include mixins.respond-below(custom767) {
		margin-top: 24px;
	}
	.card {
		&.tags-card {
			padding-bottom: 14px;
		}
		margin-bottom: 24px;
		box-shadow: colors.$row__box__shadow;
		h4 {
			border-bottom: 1px solid colors.$bright__gray;
			padding-bottom: 20px;
			margin-bottom: 24px;
		}
		.blog-search {
			position: variables.$relative;
			i {
				position: variables.$absolute;
			    top: 22px;
			    right: 15px;
			    color: colors.$darkash;
			}
		}
		.latest-posts {
			li {
				background: colors.$white;
				box-shadow: colors.$row__box__shadow;
				border-radius: 0px variables.$value__10 variables.$value__10 0px;
				padding: 15px;
				margin-bottom: 15px;
				display: inline-block;
				@include mixins.respond-below(custom767) {
					width: 100%;
				}
				&:last-child {
					margin-bottom: 0;
				}
				.post-thumb {
				    width: 80px;
				    height: 80px;
				    float: left;
				    overflow: hidden;
				    border-radius: 4px;
					@include mixins.respond-below(custom991) {
						margin-right: 10px;
						float: inherit;
						margin-bottom: 10px;
					}
				    a {
				    	img {
						    border-radius: 6px;
						    @include mixins.transform(translateZ(0));
							@include mixins.transition(all 2000ms cubic-bezier(.19,1,.22,1) 0ms);
						}
						&:hover {
							img { 
							    transform: scale(1.15);
							    -webkit-transform: scale(1.15);
							    -ms-transform: scale(1.15);
							}
						}
				    }
				}
				.post-info {
				    margin-left: 95px;
					@include mixins.respond-below(custom991) {
						margin-left: 0px;
					}
				    p {
				    	margin-bottom: 5px;
				    }
				    h6 {
				    	-webkit-line-clamp: 2;
					    -webkit-box-orient: vertical;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    display: -webkit-box;
						margin-bottom: 0;
						a {
							color: #192335;
						}
					    &:hover {
					    	a { 
					    		color: colors.$primarycolor;
					    	}
					    }
				    }
				}
			}
		}
		.categories {
			li {
				margin-bottom: variables.$value__20;
				&:last-child {
					margin-bottom: 0;
					h6 {
						margin-bottom: 0;
					}
				}
				h6 {
					@include mixins.transition(all 0.5s ease-in-out 0s);
					a {
						@include mixins.transition(all 0.5s ease-in-out 0s);
						span {
							@include mixins.transition(all 0.5s ease-in-out 0s);
							color: colors.$darkash;
							font-size: typography.$font__size__14;
							font-weight: typography.$regular;
						}
					}
				}
				&:hover {
					h6 {
						a, span {
							color: colors.$primarycolor;
						}
					}
				}
			}
		}
		.tags {
			li {
				float: left;
				margin: 0 variables.$value__10  variables.$value__10 0;

				a {
					font-size: typography.$font__size__15;
					padding: 5px 15px;
					background: colors.$dull__whitesmoke;
					border-radius: 6px;
					display: inline-block;
					color: colors.$secondarycolor;
				}
				&:hover {
					a {
						background: colors.$primarycolor;
						color: colors.$white;
					}
				}
			}
		}
	}
}
.blog-pagination {
	margin-top: 36px;
	@include mixins.respond-below(custom767) {
		margin-top: 0;
	}
	.page-item {
		margin-right: 5px;
		.page-link {
			width: 32px;
			height: 32px;
			border-radius: 32px;
			border: 1px solid colors.$lightgray;
		    background: transparent;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    font-size: typography.$font__size__14;
		    color: colors.$darkgray;
		    &.active, &:hover{
		    	background: colors.$primarycolor;
		    	border-color: colors.$primarycolor;
		    	color: colors.$white;
		    }
		    &:focus {
		    	box-shadow: none;
		    }
		}
	}
}
.blog-details {
	padding-bottom: 0;
	.listing-item {
		&.blog-info { 
			border-bottom: 1px solid colors.$lightgray;
			margin-bottom: 24px;
			.listing-content {
				background: none;
				box-shadow: none;
				padding: 24px 0 0 0;
				.listing-venue-owner {
					border-bottom: 1px solid colors.$lightgray;
					padding-bottom: 24px;
					margin-bottom: 24px;
					@include mixins.respond-below(custom991) {
						padding-bottom: 20px;
						margin-bottom: 20px;
					}
					&.blog-detail-owner {
						.navigation {
							@include mixins.respond-below(custom991) {
								margin-bottom: 10px;
								display: block;
							}
							a {
								@include mixins.respond-below(custom991) {
									margin-bottom: 10px;
								}
							}
							span {
								margin-right: 10px;
								@extend %display-flex-center;
								@include mixins.respond-below(custom991) {
									padding-left: 0;
									margin-left: 0;
								}
								&:last-child {
									margin-right: 0px;
								}
							}
						}
					}
					.navigation {
						font-weight: typography.$regular;
						img {
							border-color: colors.$white;
						}
						span {
							&:before {
								display: none;
							}
							i {
								font-size: typography.$font__size__16;
							}
						}
					}
					.btn {
						padding: 5px 13px;
						font-size: typography.$font__size__15;
						font-weight: typography.$regular;
						@include mixins.respond-below(custom991) {
							display: inline-block;
						}
						img {
							width: 12px;
							height: 12px;
							border-radius: 0;
							border: none;
						}
					}
				}
			}
		}
	}
	.gradient-bg {
		padding: 24px;
		background: colors.$head__gray;
		margin-bottom: 24px;
		@include mixins.respond-below(custom767) {
			flex-direction: column;
			padding: 20px;
		}
		p {
			padding-left: variables.$value__30;
			color: colors.$white;
			@include mixins.respond-below(custom767) {
				padding-left: 0;
			}
		}
		img {
			@include mixins.respond-below(custom767) {
				margin-bottom: 10px;
			}
		}
	}
	.blog-images {
		a {
			display: inline-block;
			margin: 0 20px 20px 0;
			overflow: hidden;
			@include mixins.respond-below(custom575) {
				margin-right: 0;
			}
			&:last-child {
				margin-right: 0;
			}
			img {
				@include mixins.transition(all 0.5s ease-in-out 0s);
				-webkit-transform: scale(1.0);
				transform: scale(1.0);
				&:hover {
					-webkit-transform: scale(1.1);
    				transform: scale(1.1);
				}
			}
		}
	}
}
.text-list {
	padding: 0 0 24px 24px;
	li {
		list-style-type: disc;
	}
}
.tags-wrapper {
	h6 {
		margin-right: 10px;
		margin-bottom: 0;
	}
	.tags {
		li {
			float: left;
			margin: 5px variables.$value__10 5px 0;
			a {
				font-size: typography.$font__size__15;
				padding: 5px 15px;
				background: colors.$primarycolor;
				border-radius: 6px;
				display: inline-block;
				color: colors.$white;
			}
			&:hover {
				a {
					background: colors.$secondarycolor;
				}
			}
		}
	}
}
.social-medias-wrapper {
	margin-top: 5px;
	@include mixins.respond-below(custom991) {
		margin-top: 24px;
	}
	h6 {
		margin-right: 12px;
		margin-bottom: 0;
	}
	.social-medias {
		li {
			background: none;
			width: 24px;
			height: 24px;
			border-radius: variables.$value__20;
			i {
				color: colors.$darkgray;
				font-size: typography.$font__size__14;
			}
			&.facebook, &.linkedin {
				&:hover { 
						background: colors.$facebook;
					i { 
						color: colors.$white;
					}
				}
			}
			&.instagram, &.pinterest {
				&:hover { 
					background: colors.$instagram;
					i {
						color: colors.$white;
					}
				}
			}
			&.twitter {
				&:hover { 
					background: colors.$twitter;
					i {
						color: colors.$white;
					}
				}
			}
		}
	}
}
.blog-comments {
	margin-bottom: 24px;
	.dull-bg {
		background: colors.$whitesmoke;
		padding: 24px;
		border-radius: 6px;
		.author-group {
			.profile-pic {
				@include mixins.respond-below(custom767) {
					margin-right: 0;
					margin-bottom: 15px;
				}
			}
		}
		&.author-widget {
			border-radius: 4px;
			.profile-pic {
				a { 
					width: 100px;
					@include mixins.respond-below(custom991) {
						width: 70px;
					}
					img {
						width: 100px;
						height: 100px;
						border-radius: 100px;
						@include mixins.respond-below(custom991) {
							width: 70px;
							height: 70px;
						}
					}
				}
			}
		}
		.profile-pic {
			margin-right: 24px;
			a { 
				width: 70px;
				img {
					width: 70px;
					height: 70px;
					border-radius: 70px;
				}
			}
		}
		.info {
			.head {
				margin-bottom: 10px;
				h5 {
					margin-bottom: 0;
				}
				i {
					font-size: 5px;
					margin: 0 15px;
					display: inline-block;
				}
				span {
					color: colors.$darkgray;
				}
			}
			span, a {
				color: colors.$primarycolor;
				font-size: typography.$font__size__14;
			}
			a {
				&:hover {
					color: colors.$secondarycolor;
				}
			}
			p {
				margin-bottom: 0;
			}
		}
		ul {
			li {
				padding-bottom: 15px;
				margin-bottom: 15px;
				border-bottom: 1px solid colors.$bright__gray;
				&:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
					border-bottom: none;
				}
			}
		}
	}
}
.new-comment{
	margin-bottom: 60px;
	box-shadow: colors.$row__box__shadow;
	border-radius: 6px;
	@include mixins.respond-below(custom767) {
		margin-bottom: 40px;
	}
	h4 {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid colors.$bright__gray;
	}
	button {
		border:none;
		margin-top: 8px;
	}
}
.section {
	&.similar-list {
		padding: 60px 0px 16px;
		@include mixins.respond-below(custom767) {
			padding: 40px 0px 0px;
		}
		h2 {
			@include mixins.respond-below(custom767) {
				margin-bottom: 35px;
			}
		}
	}
}
.content {
	&.carousal-blog {
		padding: 60px 0 36px;
		@include mixins.respond-below(custom991) {
			padding: 110px 0 36px;
		}
		@include mixins.respond-below(custom767) {
			padding: 90px 0 16px;
		}
	}
}
.blog-grid {
	.listing-venue-owner {
		.navigation {
			span {
				@include mixins.respond-below(custom767) {
					padding-top: 10px;
					display: inline-block;
				}
			}
		}
	}
}
.blog-slider {
	padding-top: 24px;
}
.similar-list {
	.listing-item {
		.listing-content {
			&.news-content {
				.listing-venue-owner {
					.navigation {
						@include mixins.respond-below(custom767) {
							display: block;
						}
						span::before {
							@include mixins.respond-below(custom767) {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}
.blog-grid {
	.listing-item .listing-button {
		padding: 24px 0 0;
	}
}

