@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

/*-----------------
    15. Book Court
-----------------------*/

.booking-steps {
	border-bottom: 1px solid colors.$lightgray;
	padding-bottom: 15px;
	ul {
		li {
			display: variables.$inline__block;
			padding-right: 2.5rem;
			position: variables.$relative;
			padding-bottom: 15px;
			&:last-child {
				@include mixins.respond-below(custom767) {
					padding-bottom: 0;
				}
			} 
			@include mixins.respond-below(custom767) {
				display: variables.$block;
			}
			&:after {
				@include mixins.position(variables.$absolute,variables.$value__10,18px,null,null);
			    content: "\f105";
			    font: normal normal normal 14px/1 FontAwesome;
			    color: colors.$darkash;
			    @include mixins.respond-below(custom767) {
					display: variables.$none;
				}
			}
			&.active {
				a { 
					color: colors.$secondarycolor;
					span {
						background: colors.$primarycolor;
					}
				}
			}
			h5 {
				margin-bottom: 0;
				a { 
					@extend %display-flex;
					@extend %justify-content-center;
					@extend %align-items-center;
					@include mixins.respond-below(custom767) {
						display: variables.$inline__flex;
					}
					span {
						width: variables.$value__30;
						height: variables.$value__30;
						border-radius: variables.$value__30;
						background: colors.$darkgray;
						color: colors.$white;
						margin-right: variables.$value__10;
						font-size: typography.$font__size__18;
						font-weight: typography.$semibold;
						display: variables.$flex;
						justify-content: variables.$center;
						align-items: variables.$center;
						@include mixins.transition(all 0.5s ease-in-out 0s);
					}
				}
				&:hover {
					span {
						background: colors.$primarycolor;
					}
				}
			}
			&:last-child {
				&:after {
					display: variables.$none;
				}
			}
		}
	}
}
.master-academy {
	&.dull-whitesmoke-bg {
		background: colors.$dull__whitesmoke;
		border: none;
		.info {
			margin-left: 15px;
			@include mixins.respond-below(custom575) {
				margin-left: 0;
				margin-top: 20px;
			}
			p {
				margin-bottom: 0;
			}
		}
		ul {
			padding: 24px;
			background: colors.$white;
			position: variables.$relative;
			@include mixins.respond-below(custom991) {
				margin-top: variables.$value__20;
				text-align: center;
			}
			li {
				@include mixins.respond-below(custom767) {
					margin-top: variables.$value__20;
				}
				h3 {
					color: colors.$primarycolor;
					margin: 0 3px 3px 0;
				}
				span {
					color: colors.$lightash;
					font-size: typography.$font__size__14;
				}
				p {
					color: colors.$secondarycolor;
					font-size: typography.$font__size__14;
					margin-bottom: 0;
				}
				span {
					i { 
						font-weight: typography.$bold;
					    font-size: typography.$font__size__24;
					    color: colors.$primarycolor;
					}
				}
			}
		}
	}
}
.booking-form {
	form {
		.select-guest {
		margin-top: variables.$value__40; 
			h5 {
				font-weight: typography.$semibold;
				color: colors.$darkblue;
				display: inline-block;
			}
			label {
				color: colors.$darkgray;
				font-size: typography.$font__size__14;
			}
			.qty-item {
				margin-top: variables.$value__20;
				position: variables.$relative;
				max-width: 180px;
				a {
					@include mixins.transition(all 0.5s ease-in-out 0s);
					i {
						color: colors.$primarycolor;
						@include mixins.transition(all 0.5s ease-in-out 0s);
					}
					&.dec {
						@include mixins.position(variables.$absolute,22px,null,null,variables.$value__20);
					}
					&.inc{
						@include mixins.position(variables.$absolute,22px,variables.$value__20,null,null);
					}
					&:hover {
						i {
							color: colors.$secondarycolor;
						}
					}
				}
				label {
					margin-top: variables.$value__10;
					span {
						font-size: typography.$font__size__16;
						display: block;
						&.dark-text {
							color: colors.$secondarycolor;
							font-weight: typography.$medium;
						}
						&.dull-text {
							font-weight: typography.$regular;
							color: colors.$darkgray;
						}
					}
				}
			}
		}
	}
	.select2-container--default {
		&.select2-container--focus {
			.select2-selection--single {
				.select2-selection__rendered {
					color: #192335;
				}
			}
		}
		.select2-selection--single {
			.select2-selection__rendered {
				color: colors.$darkgray;
			}
			.select2-selection__arrow {
				b {
					border: 0;
					background-image: url(/src/assets/img/icons/down-arrow.svg);
					width: 11px;
					height: 6px;
					@include mixins.transition(all 0.5s ease);
					line-height: 60px;
				}
			}
		}
		&.select2-container--open {
			.select2-selection--single {
				.select2-selection__arrow b {
					transform: rotate(-180deg);
					-webkit-transform: rotate(-180deg);
					@include mixins.transition(all 0.5s ease);
				}
			}
		}
	}
}
.booking-details {
	ul {
		li {
			margin-bottom: variables.$value__20;
			display: variables.$flex;
			align-items: variables.$center;
			i {
				width: 52px;
				height: 47px;
				background: colors.$dull__whitesmoke;
				border-radius: variables.$value__10;
				display: variables.$inline__flex;
				align-items: variables.$center;
				justify-content: variables.$center;
				color: colors.$primarycolor;
			}
			.timing-points {
				p {
					margin-bottom: 8px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.btn-block {
		margin-top: variables.$value__5;
		button {
			font-size: typography.$font__size__18;
			font-weight: typography.$semibold;
		}
	}
}
.booking-order-confirmation {
	ul {
		border-bottom: 1px solid colors.$lightgray;
		&:last-child {
			border-bottom: none;
			@include mixins.margin-padding(0, 0);
		}
		@include mixins.margin-padding(0 0 24px 0, 0 0 24px 0);
		li {
			h6 {
				margin-bottom: 8px;
			}
			&:last-child {
				@include mixins.respond-below(custom991) {
					margin-bottom: 0;
				}
			}
			@include mixins.respond-below(custom991) {
				margin-bottom: variables.$value__20;
			}
			p {
				margin-bottom: 0;
			}
		}
		&.contact-info, &.payment-info {
			li {
				padding-right: 6.25rem;
				&:last-child {
					padding-right: 0;
				}
				p {
					&.primary-text {
						font-weight: typography.$medium;
					}
				}
			}
		}
	}
}
.checkout {
	.booking-details {
		ul{
			li {
				&:last-child {
					margin-bottom: 0;
				}
				.timing-points {
					p {
						margin-bottom: 8px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	aside {
		@include mixins.respond-below(custom991) {
			margin-top: 24px;
		}
		.radio { 
			.form-check {
				padding-left: variables.$value__10;
				border: 1px solid colors.$lightgray;
				border-radius: variables.$value__10;
				cursor: pointer;
				@extend %display-flex-center;
				&.active {
					background: colors.$dullgray;
				}
				label {
					cursor: pointer;
				}
			}
		}
		label {
			width: 100%;
			padding: 15px 10px 15px 0;
		}
		ul{
			li {
				@extend %display-flex;
				@extend %justify-content-between;
				@extend %align-items-center;
			}
			&.order-sub-total {
				li {
					margin-bottom: 15px;
					&:last-child {
						margin-bottom: 14px;
					}
					p, h6 {
						margin-bottom: 0;
					}
				}
			}
		}
		.order-total {
			background: colors.$dull__whitesmoke;
			padding: variables.$value__15;
			border-radius: variables.$value__10;
			margin: 10px 0 9px  0;
			h5 {
				margin-bottom: 0;
			}
		}
		.policy {
			margin-bottom: 24px;
			cursor: pointer;
			input {
				width: 20px;
				height: 20px;
				border-radius: 4px;
			}
			label {
				font-size: typography.$font__size__14;
				padding: 15px 0 0 0;
				@include mixins.respond-below(custom991) {
					padding: 0;
				}
				a {
					color: colors.$primarycolor;
					&:hover {
						color: colors.$secondarycolor;
					}
				}
			}
		}
		.btn-block {
			.btn {
				font-size: typography.$font__size__18;
				font-weight: typography.$semibold;
			}
		}
		@include mixins.respond-below(custom767) {
			margin-top: variables.$value__20;
		}
	}
}
h3 {
	&.border-bottom { 
		@include mixins.margin-padding(0 0 20px 0, 0 0 20px 0);
		@include mixins.respond-below(custom767) {
			@include mixins.margin-padding(0 0 variables.$value__15 0, 0 0 variables.$value__15 0);
		}
	}
}
hr {
	border-top: 1px solid colors.$lightgray;
	@include mixins.margin-padding(24px 0, 0);
	opacity: 1;
}
.text-center {
	.sub-title {
		margin-bottom: 0;
		font-size: typography.$font__size__16;
	}
}
.dark-yellow-bg {
	width: variables.$value__30;
	height: 28px;
	background: colors.$yellow__dark;
	border-radius: variables.$value__5;
	padding: variables.$value__5;
	color: colors.$white;
}
.card {
	&.booking-form {
		@include mixins.respond-below(custom991) {
			margin-bottom: 20px;
		}
	}
} 