@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

/*-----------------
    36. Coach Profile
-----------------------*/

.profile-court-list {
	margin-bottom: 40px;
	ul {
		@include mixins.respond-below(custom991) {
			justify-content: center;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
		}
		li {
			@include mixins.respond-below(custom991) {
				margin-bottom: 20px;
			}
			&:last-child {
				@include mixins.respond-below(custom767) {
					margin-bottom: 0px;
				}
			}
			a {
				@include mixins.respond-below(custom767) {
					width: 100%;
				}
			}
		}
	}
}
.profile-detail-blk {
    border-bottom: 1px solid colors.$bright__gray;
	margin-bottom: 40px;
	ul {
		@extend %display-flex;
		flex-wrap: wrap;
		li {
			padding-bottom: 10px;
			position: relative;
			margin-right: 20px;
			&:last-child {
				a {
					padding-right: 0px;
				}
			}
			@include mixins.respond-below(custom767) {
				margin-right: 0px;
				margin-bottom: 15px;
			}
			a {
				padding-right: 20px;
				color: colors.$secondarycolor;
				font-size: typography.$font__size__20;
				font-weight: 600;
				@include mixins.respond-below(custom991) {
					font-size: typography.$font__size__18;
				}
			}
		}
		.active {
			a {
				color: colors.$primarycolor;
			}
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				background: colors.$primarycolor;
				bottom: 0;
				border-radius: 5px;
			}
		}
	}
}
.input-space {
	margin-bottom: 24px;
	&.link-apoint {
		margin-bottom: 15px;
		.input-box {
			border-bottom: 1px solid colors.$bright__gray;
			padding-bottom: 15px;
			p {
				font-size: typography.$font__size__14;
				padding-top: 15px;
				margin-bottom: 0;
			}
		}
	}
	&.other-setting-form {
		border-bottom: 1px solid colors.$bright__gray;
		padding-bottom: 15px;
		margin-bottom: 15px;
		.form-control {
			max-width: 612px;
		}
	}
}
.profile-detail-group {
	.card {
		padding: 24px;
		box-shadow: colors.$row__box__shadow;
		border: 0;
		border-radius: 10px;
		margin-bottom: 40px;
	}
	.select2-container--default {
		.select2-selection--single {
			.select2-selection__rendered {
				color: colors.$darkgray;
			}
			.select2-selection__arrow {
				height: 60px;
				top: 0;
				b {
					border: 0;
					background-image: url(/src/assets/img/icons/down-arrow.svg);
					width: 11px;
					height: 6px;
					@include mixins.transition(all 0.5s ease);
				}
			}
		}
		&.select2-container--open {
			.select2-selection--single {
				.select2-selection__arrow b {
					transform: rotate(-180deg);
					-webkit-transform: rotate(-180deg);
					@include mixins.transition(all 0.5s ease);
				}
			}
		}
	}
}
.info-about {
	padding-bottom: 24px;
	margin-bottom: 24px;
	border-bottom: 1px solid colors.$bright__gray;
}
.address-form-head {
	h4 {
		margin-bottom: 24px;
	}
}
.save-changes {
	.btn {
		&:first-child {
			margin-right: 15px;
		}
	}
	.reset-profile {
		min-width: 103px;
		padding: 12px 15px;
	}
	.save-profile {
		min-width: 144px;
		padding: 12px 15px;
	}
}
.file-upload-text { 
	margin-bottom: 45px;
	&.appointment-upload {
		margin-bottom: 15px;
		.file-upload {
			width: 100%;
			#file-input {
				width: variables.$full__width;
			    height: inherit;
			    position: variables.$absolute;
			    left: 0;
			    top: 0;
			    cursor: pointer;
			    opacity: 0;
			}
		}
		h5 {
			border-bottom: 1px solid colors.$bright__gray;
			padding-bottom: 15px;
		}
	}  
	.file-upload {
		background: colors.$white;
		border: 1px dashed colors.$dull__text;
		border-radius: 10px;
		font-size: typography.$font__size__14;
		font-weight: 400;
		width: 182px;
		height: 163px;
		padding: 45px 20px;
		text-align: variables.$center;
		position: variables.$relative;
		margin-bottom: 20px;
		@include mixins.respond-below(custom767) {
			@include mixins.margin-padding(0 auto 15px, null);
		}
		img {
			margin-bottom: 8px;
		}
		p {
			color: colors.$darkgray;
			margin-bottom: 0;
		}
		span {             
			@include mixins.position(variables.$absolute, 10px, 10px, null, null);
			cursor: variables.$pointer;
			width: 40px;
			height: 40px;
			background: colors.$primarycolor;
			color: colors.$white;
			border-radius: 50%;
			@extend %flex-align-center;
			input[type="file"] {             
				@include mixins.position(variables.$absolute, 0, null, null, 0);
				width:  variables.$full__width;
				height: variables.$full__height;
				opacity: 0;
				cursor: variables.$pointer;
			}
		}
	}
	h5 {
		font-size: typography.$font__size__14;
		font-weight: 400;
		color: colors.$darkgray; 
		@include mixins.respond-below(custom767) {
			text-align: variables.$center;
		}
	}
}
.appoint-head {
	h4 {
		margin-bottom: 15px;
	}
}
.upload-show-img {
	@extend %display-flex;
	margin-bottom: 15px;
	flex-wrap: variables.$wrap;
	.upload-images {
		position: variables.$relative;
		margin-right: 10px;
		@include mixins.respond-below(custom767) {
			margin-bottom: 10px;
		}
		&:last-child {
			margin-right: 0;
		}
		img {
			width: 100px;
			height: 100px;
			border-radius: 10px;
		}
		.btn-icon {
			text-align: variables.$center;
			position: variables.$absolute;
			padding: 0;
			font-size: 12px;
			width: 34px;
			height: 34px;
			right: 3px;
			top: 3px;
			color: colors.$white;
			border-radius: 50px;
			@extend %flex-align-center;
			background: colors.$dark__red;
			&:hover {
				background: colors.$pink;
			}
		}
	}
}
.check-single-lesson {
	@extend %display-flex;
	margin-top: 15px;
	flex-wrap: variables.$wrap;
	.similar-player {
		margin-right: 70px;
		@include mixins.respond-below(custom767) {
			margin-right: 0px;
			margin-bottom: 15px;
		}
		.form-check {
			margin-bottom: 10px;
			.form-check-input[type=checkbox] {
				cursor: pointer;
			}
		}
		&:last-child {
			margin-right: 0px;
		}
		ul {
			li {
				font-size: typography.$font__size__14;
				color: colors.$darkgray;
				margin-bottom: 0;
				span {
					color: colors.$primarycolor;
				}
			}
		}
	}
}

.coach-top {
	border-top: 1px solid colors.$bright__gray;
	padding-top: 15px;
}
.prefer-role {
    @extend %display-flex;
	@extend %justify-content-between;
	margin-bottom: 40px;
	&:last-child {
		margin-bottom: 0;
	}
    @include mixins.respond-below(custom575) {
        display: variables.$block;
    }
    .prefer-list {
        @extend %display-flex-center;
		@include mixins.respond-below(custom767) {
			display: variables.$block;
        }
        @include mixins.respond-below(custom575) {
            margin-bottom: 15px;
        }
        .toggle-switch {
            @include mixins.margin-padding(0 30px 0 0, null);
            @include mixins.respond-below(custom767) {
                margin-right: 10px;
            }
        }
        .role-selection {
            margin-right: 20px;
            @include mixins.respond-below(custom767) {
                margin-right: 0;
				margin-bottom: 15px;
            }
            label {
                min-width: 200px;
                display: variables.$block;
                text-align: variables.$center;
                margin-bottom: 0;
				padding: 21px 15px;
                @include mixins.respond-below(custom767) {
                    min-width: 200px;
					padding: 14px 15px;
                }
                .role-check {
                    float: variables.$right;
                }
            }
        }
    }
    .less-info {
        h6, p {
            font-size: typography.$font__size__16;
            margin-bottom: 0;
            color: colors.$darkgray;
			font-weight: 400;
			@include mixins.respond-below(custom767) {
				font-size: typography.$font__size__14;
			}
            span {
                color: colors.$primarycolor;
            }
        }
    }
	.interset-btn {
		.status-toggle {
			border: 0;
			margin-bottom: 0px;
			padding: 0;
			.checktoggle {
				margin: 0;
			}
		}
	}
}

.role-selection {
    input {
        width: 100%;
        position: absolute;
        left: 0;
        opacity: 0;
        &:checked {
            ~ label, ~ .role-label {
                border: 1px solid colors.$bright__gray;
                background: colors.$secondarycolor;
                .role-check {
                    display: variables.$inline__block;
                    float: variables.$right;
                }
            }
        }
    }
    label, .role-label {
        border: 1px solid colors.$bright__gray;
        border-radius: 5px;
        @include mixins.margin-padding(0 0 20px, 20px);  
        @extend %justify-content-between;
        @include mixins.respond-below(custom1399) {
            @include mixins.margin-padding(0 0 20px, 15px);
        }
        @include mixins.respond-below(custom991) {
            @include mixins.margin-padding(0 0 20px, 10px);
        }
        .role-name {
            font-size: typography.$font__size__16;
            font-weight: typography.$medium;
            @include mixins.respond-below(custom767) {
                font-size: typography.$font__size__14;
            }
            img {
                width: 40px;
                margin-right: 25px;
                @include mixins.respond-below(custom767) {
                    width: 30px;
                    margin-right: 10px;
                }
            }
        }
        .role-check {
            color: colors.$success;
            display: variables.$none;
        }
    }
}
.preference-head {
	h4 {
		color: colors.$secondarycolor;
		margin-bottom: 20px;
	}
}

.profile-availability {
	.select-days {
		h4 {
			margin-bottom: 10px;
		}
	}
	.day-list {
		li {
			display: variables.$inline__block;
				.day-selection {
				position: variables.$relative;
				input {
					width: variables.$full__width;                
					@include mixins.position(variables.$absolute, null, null, null, 0);
					opacity: 0;
					cursor: pointer;
					&:checked {
						~ label {
							border: 2px solid colors.$primarycolor;
							color: colors.$primarycolor;
							font-size: typography.$font__size__14;
							font-weight: 500;
							.role-check {
								display: variables.$inline__block;
								float: variables.$right;
							}
						}
					}
				}
				label {
					border: 2px solid colors.$lightgray;
					border-radius: 5px;
					@include mixins.margin-padding(0 20px 20px 0, 12px); 
					min-width: 92px;
					font-weight: 500;
					color: colors.$secondarycolor;
					font-size: typography.$font__size__14;
					text-align: variables.$center;
					@include mixins.respond-below(custom1399) {
						@include mixins.margin-padding(0 20px 20px 0, 12px); 
					}
					@include mixins.respond-below(custom991) {
						@include mixins.margin-padding(0 0 20px, 10px);
					}
				}
			}
		}
	}
	
	.form-check-inline {
		display: variables.$inline__block;
	}
	.visits {
		.visit-btns {
			color: colors.$secondarycolor;
			background-color: colors.$white;
			width: variables.$full__width;
			margin-bottom: 10px;
			display: variables.$block;
			outline: variables.$unset;
			cursor: variables.$pointer;
		}
	}
	.visits input:checked ~ .visit-rsn {
		border-color: colors.$primarycolor;
		color: colors.$primarycolor;
	}
	.visits input:checked ~ .visit-rsn:before {
		opacity: 1;
	}
	.visits input:disabled ~ .visit-rsn {
		color: colors.$greycolor;
		border-radius: 5px;
	}
	.visits .form-check-input {
		opacity: 0;
	}
	.visits input.form-check-input {             
		@include mixins.position(variables.$absolute, 0, null, null, 0);
		opacity: 0;
		visibility: variables.$hidden;
		margin-left: 0;
	}
	.visits span.visit-rsn {
		background-color: #F3F9FF;
		border: 0;
		border-radius: 4px;
		color: #64627C;
		display: variables.$block;
		font-size: typography.$font__size__14;
		margin-bottom: 0px;
		padding: 13px 5px;
		text-align: variables.$center;
		position: variables.$relative;
		font-weight: typography.$semibold;
	}
	.visits span.visit-rsn {
		text-align: center;
		padding: 12px 5px;
		background: colors.$white;
		border: 1px solid colors.$bright__gray;
		border-radius: 5px;
		min-width: 130px;
		display: variables.$inline__block;
		width: 100%;    
		@include mixins.respond-below(custom767) { 
			min-width: 108px;
		}
	}
	
	.setting-accordion {
		.accordion-item {
			margin-bottom: 24px;
			background: colors.$white;
			border: 0;
			border-radius: 5px;
			box-shadow: colors.$row__box__shadow;
		}
		.accordion-header {    
			cursor: variables.$pointer;
			.accordion-button {
				background: transparent;
				@include mixins.margin-padding(null, 20px);
				.toggle-switch {
					margin-right: 15px;                
					@include mixins.respond-below(custom767) {
						margin-right: 7px;
					}
				}
				.accord-title {
					font-size: typography.$font__size__24;
					font-weight: 600;
					color: colors.$secondarycolor;
					margin-left: 10px;
					@include mixins.respond-below(custom991) {
						font-size: typography.$font__size__20;
					}
				}
				a {
					margin-left: variables.$auto;
					font-weight: 400;
					color: colors.$lightash;
					font-size: typography.$font__size__14;
				}
				&:focus {
					box-shadow: variables.$none;
					border-color: colors.$bright__gray;
				}
				&:after {
					content: variables.$none;
				}
				&:not(.collapsed) {
					background: colors.$white;
					color: colors.$secondarycolor;
					border-bottom: 1px solid colors.$bright__gray;
					box-shadow: variables.$none;
					.accord-title {
						color: colors.$secondarycolor;
					}
					a {
						color: colors.$primarycolor;
					}
				}
			}
			.accordion-body {
				@include mixins.margin-padding(null, 20px);
			}
		}
	}
	.form-icon {
		position: variables.$relative;
		width: variables.$full__width;
		&:after {
			color: #344357;
			content: "\f078";
			display: variables.$block;
			font-family: "FontAwesome";
			font-size: typography.$font__size__12;
			margin: variables.$auto;             
			@include mixins.position(variables.$absolute, 50%, 15px, null, null);
			transform: translateY(-50%);
		}
	}
	.save-time {
		margin-top: 0px;
		a {
			color: colors.$red;
			font-weight: typography.$semibold;
			font-size: typography.$font__size__14;
		}
		&.add-save-time {
			margin-top: 15px;
		}
	}
	#day-monday {
		display: variables.$block;
	}
	#day-tuesday, #day-wednesday, #day-thursday, #day-friday, #day-saturday, #day-sunday{
		display: variables.$none;
	}
	.card-icon {
		position: variables.$relative;
		.form-control {
			@include mixins.margin-padding(null, 10px 160px 10px 10px);
		}
		span {             
			@include mixins.position(variables.$absolute, 50%, 10px, null, null);
			transform: translateY(-50%);
		}
	}
}

.interset-btn {
	&.empty-space {
		.status-toggle {
			padding: 0;
			margin: 0;
			border: 0;
		}
		.checktoggle {
			margin: 0;
		}
	}
}
.duration-blk {
	margin-bottom: 15px;
	label {
		margin-bottom: 10px;
		color: colors.$secondarycolor;
		font-size: typography.$font__size__14;
		span {
			&.text-danger {
				color: colors.$red !important;
			}
		}
	}
	.select2-container--default {
		.select2-selection--single {
			.select2-selection__rendered {
				color: colors.$darkgray;
				border-radius: 5px;
			}
			.select2-selection__arrow {
				height: 58px;
				top: 0;
				b {
					border: 0;
					background-image: url(/src/assets/img/icons/down-arrow.svg);
					width: 11px;
					height: 6px;
					@include mixins.transition(all 0.5s ease);
				}
			}
		}
		&.select2-container--open {
			.select2-selection--single {
				.select2-selection__arrow b {
					transform: rotate(-180deg);
					-webkit-transform: rotate(-180deg);
					@include mixins.transition(all 0.5s ease);
				}
			}
		}
	}
	.form-control {
		background: colors.$dull__whitesmoke;
		border-radius: 5px;
		border: 0;
		height: 58px;
		&:focus {
			box-shadow: none;
		}
	}
}
.deactivate-account-blk {
	@extend %justify-content-between;
	@extend %display-flex-center;
	@include mixins.respond-below(custom767) {
		display: variables.$block;
	}
	.deactivate-detail {
		@include mixins.respond-below(custom767) {
			margin-bottom: 15px;
		}
		h4 {
			margin-bottom: 5px;
		}
		p {
			font-size: typography.$font__size__14;
			margin-bottom: 0;
		}
	}
}
.deactive-btn {
	background: colors.$red;
	border-radius: 10px;
	padding: 12px 15px;
	color: colors.$white;
	min-width: 196px;
	&:hover {
		background: colors.$secondarycolor;
	}
	i {
		margin-right: 5px;
	}
}
.deactive-modal {
	.modal-header {
		border: 0;
		padding: 0;
		position: variables.$absolute;
		right: 20px;
		top: 20px;
		z-index: 99;
	}
	.modal-body {
		padding: 40px;
	}
	.account-deactive {
		max-width: 300px;
		margin: auto;
		text-align: center;
		img {
			margin-bottom: 30px;
		}
		h3 {
			margin-bottom: 15px;
		}
		p {
			margin-bottom: 24px;
			font-size: typography.$font__size__14;
		}
		.convenient-btns {
			.btn {
				padding: 12px 20px;
				&:first-child {
					margin-right: 24px;
				}
				span {
					@extend %display-flex-center;
				}
			}
		}
	}
}

.my-profile-box {
	h3 {
		margin-bottom: 40px;
	}
}
.profile-user-view {
	&.card {
		border: 0;
		border-radius: 10px;
		box-shadow: colors.$row__box__shadow;
		margin-bottom: 24px;
		padding: 25px;
	}
}
.profile-groups {
	@extend %display-flex-center;
	@extend %justify-content-between;
	flex-wrap: variables.$wrap;
	.profile-detail-box {
		@extend %display-flex-center;
		flex-wrap: variables.$wrap;
		.profile-img {
			@include mixins.respond-below(custom767) {
				margin-bottom: 15px;
			} 
			img {
				width: 100px;
				height: 100px;
				margin-right: 15px;
			}
		}
		.user-profile-detail {
			@include mixins.respond-below(custom767) {
				margin-bottom: 15px;
			} 
			h4 {
				margin-bottom: 5px;
			}
			p {
				font-size: typography.$font__size__14;
				margin-bottom: 5px;
			}
			ul {
				@extend %display-flex-center;
				flex-wrap: variables.$wrap;
				li {
					font-size: typography.$font__size__14;
					@include mixins.respond-below(custom767) {
						margin-bottom: 10px;
					} 
					&:last-child {
						@include mixins.respond-below(custom767) {
							margin-bottom: 0px;
						} 
					}
					&+li {
						margin-left: 20px;
						@include mixins.respond-below(custom767) {
							margin-left: 0px;
						} 
					}
					img {
						margin-right: 5px;
					}
				}
			}
		}
	}
	.convenient-btns {
		.btn {
			i {
				margin-right: 5px;
			}
		}
	}
}
.profile-info-box {
	border-bottom: 1px solid colors.$bright__gray;
	@include mixins.margin-padding(0 0 15px 0, 0 0 15px 0);
	p {
		margin-bottom: 0;
		@include mixins.respond-below(custom1440) {
			font-size: typography.$font__size__15;
		}
	}
	h4 {
		margin-bottom: 15px;
	}
	.profile-contact-info {
		@extend %display-flex-center;
		@extend %justify-content-between;
		flex-wrap: variables.$wrap;
		.contact-information {
			@include mixins.respond-below(custom767) {
				margin-bottom: 15px;
			}
			&:last-child {
				@include mixins.respond-below(custom767) {
					margin-bottom: 0px;
				}
			}
			h6 {
				margin-bottom: 5px;
				font-weight: 500;
			}
			span {
				@include mixins.respond-below(custom1440) {
					font-size: typography.$font__size__15;
				}
			}
		}
	}
	ul {
		@extend %display-flex;
		li {
			&+li {
				margin-left: 24px;
				@include mixins.respond-below(custom1440) {
					margin-left: 15px;
				}
			}
			img {
				width: 100px;
				height: 100px;
				border-radius: 10px;
			}
		}
	}
	&:last-child {
		border: 0;
		margin: 0;
		padding: 0;
	}
	.badminton-img {
		iframe {
			border-radius: 10px;
			width: 100%;
			border: 0;
		}
	}
}
.appointment-detail {
	@extend %display-flex-center;
	@extend %justify-content-between;
	margin-bottom: 24px;
	a {
		font-weight: 500;
	}
}
.appointment-available {
	border: 1px solid colors.$bright__gray;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 24px;
	&:last-child {
		margin-bottom: 0;
	}
	&.profile-availability {
		.day-list {
			li {
				.day-selection {
					label {
						margin: 0 15px 15px 0;
						min-width: 97px;
						padding: 11px;
						@include mixins.respond-below(custom767) {
							min-width: 90px;
						}
					}
				}
			}
		}
	}
	.amount-hour {
		@extend %display-flex-center;
		@extend %justify-content-between;
		h6 {
			margin-bottom: 0;
		}
		h4 {
			color: colors.$primarycolor;
			margin-bottom: 0;
			span {
				font-size: typography.$font__size__14;
				color: colors.$lightash;
				font-weight: 400;
			}
		}
	}
	h6 {
		margin-bottom: 24px;
	}
	.lesson-type {
		display: inline-grid;
		li {
			padding: 10px;
			background: colors.$dull__whitesmoke;
			border-radius: 10px;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			i {
				margin-right: 5px;
			}
		}
	}
}