@use "../base/colors";
@use "../utils/variables";

/*-----------------
    33. Invoice
-----------------------*/

.invoice-page {
	.card {
		box-shadow: colors.$row__box__shadow;
		border: variables.$none;
		.head-info {
			h4 {
				margin-bottom: 14px;
			}
			h5 {
				margin-bottom: 0
			}
		}
		hr {
			margin: variables.$value__40 0;
		}
		.from-to {
			padding: 24px;
			margin-bottom: variables.$value__30;
		}
		table {
			border-collapse: collapse;
			border: 1px solid colors.$bright__gray;
        	border-radius: 3px;
			tr {
				border: 1px solid #EAEDF0;
				th {
					background: colors.$dull__whitesmoke;
				}
				th, td {
					border-width: 0;
					padding: variables.$value__10;
				}
				td {
					color: colors.$darkgray;
				}
			}
			&.short-info {
				border: variables.$none;
				tr {
					border: variables.$none;
					td {
						line-height: 30px;
						padding: 0;
					}
				}
			}
			&.total {
				border: variables.$none;
        		tr {
        			border: variables.$none;
        			td {
        				padding: 0 0 12px 0;
						background: transparent;
        				h6 {
        					margin-bottom: 0;
        				}
        			}
        		}
			}
		}
		.total-wrap {
			padding: variables.$value__20 variables.$value__20 8px variables.$value__20;
			margin-top: variables.$value__15;
			border-radius: 3px;
		}
		.payment-detail {
			margin-top: 15px;
			background: colors.$whitesmoke;
			padding: variables.$value__20;
			h6 {
				margin-bottom: 15px;
			}
		}
	}
}
