@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

/*-----------------
    21. Sidebar
-----------------------*/

.sidebar-group {
    @extend %display-flex-center;
    @extend %justify-content-between;
    border-bottom: 1px solid colors.$bright__gray;
    @include mixins.margin-padding(0 0 20px, 0 0 40px);
    @include mixins.respond-below(custom767) {  
        display: block;
        @include mixins.margin-padding(0 0 20px, 0 0 20px);
    }
    .sidebar-header-left {        
        .filter-btn {
            border: 1px solid colors.$bright__gray;
            background: transparent;
            border-radius: 10px;
            padding: 8px 22px;
            color: colors.$secondarycolor;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            &:hover {
                background: colors.$primarycolor;
                border-color: colors.$primarycolor;
                color: colors.$white;
                span {
                    i {
                        color: colors.$white;
                        -webkit-transition: all 0.5s;
                        -moz-transition: all 0.5s;
                        -o-transition: all 0.5s;
                        transition: all 0.5s;
                    }
                }
            }
            span {
                i {
                    margin-right: 5px;
                    color: colors.$primarycolor;
                    -webkit-transition: all 0.5s;
                    -moz-transition: all 0.5s;
                    -o-transition: all 0.5s;
                    transition: all 0.5s;
                }
            }
        }
    }
}
.sidebar-overlay {
    display: variables.$none;
    z-index: 99;
    height: variables.$full__height;
    width: variables.$full__width;
    @include mixins.position(variables.$fixed,60px,null,null,0);
    background-color: rgba(0, 0, 0, 0.6);
    &.opened {
        display: variables.$block;
        z-index: 99;
    } 
}
.toggle-sidebar {
    width: 416px;
    padding: 24px;
    position: fixed;
    left: -450px;
    top: 0;
    height: 100%;
    background: colors.$white;
    z-index: 9999;
    border-radius: 0px 20px 20px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow-y: auto;
    @include mixins.transition(all 0.8s ease);
    @include mixins.respond-below(custom767) { 
        width: 300px;
        left: -340px;
    }
    &.open-sidebar {
        left: 0;
        -webkit-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        transition: all 0.8s ease;
        @include mixins.respond-below(custom991) {
            border-radius: 10px;
        }
    }
    .sidebar-header {
        @extend %display-flex-center;
        @extend %justify-content-between;
        @include mixins.margin-padding(0 0 30px, null);
        .sidebar-closes {
            i {
                color: colors.$red;
            }
        }
        h2 {
            margin-bottom: 0;
        }
    }
    .sidebar-body-filter {
        .listing-item {
            .listing-content {
                padding: 0;
                background: transparent;
                border: 0;
                box-shadow: none;
            }
        }
    }
}

.open-filter {
    .custom_check {
        color: #EAEDF0;
        font-size: typography.$font__size__14;
        font-weight: typography.$regular;
        display: inline-block;
        position: relative;
        margin-bottom: 15px;
        padding-left: 30px;
        cursor: pointer;
        font-weight: 400;
        user-select: none;

        input:checked~.checkmark {
            background-color: colors.$primarycolor;
            border-color: colors.$primarycolor;

            &:after {
                display: variables.$block;
            }
        }

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 19px;
            width: 19px;
            border: 1px solid #C4C4C4;
            background-color: #fff;
            border-radius: 6px;
            transition: all 0.3s ease-in-out;

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            input:checked~.checkmark {
                background-color: colors.$primarycolor;
                border-color: colors.$primarycolor;

                &:after {
                    display: variables.$block;
                }
            }

            &:after {
                content: "\f00c";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: variables.$absolute;
                display: variables.$none;
                left: 4px;
                top: 2px;
                color: colors.$white;
                font-size: 9px;
            }

        }

    }

    i {
        transition: 0.2s;
    }
}