@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

/*-----------------
    17. Venue Details
-----------------------*/

.venue-coach-details {
	.featured-slider-group {
		padding: 0;
	}
	.accordion-body {
		padding: 20px;
	}
	.featured-slider-group {
		padding-bottom: 0;
		.featured-venues-slider, .featured-coache-slider {
			.featured-venues-item {
				padding-bottom: 0;
			}
			.owl-nav {
				margin: 0;
			}
		}
	}
	.content{
		padding: 40px 0 0 0;
	}
	.bannergallery-section { 
			position: variables.$relative;
		.main-gallery-slider {
			.owl-nav { 
				.owl-prev {
					left: 30px;
					margin: 0;
					@include mixins.respond-below(custom991) {
						left: 25px;
					}
				}
				.owl-next {
					right: 30px;
					margin: 0;
					@include mixins.respond-below(custom991) {
						right: 25px;
					}
				}
			}
		}
		.showphotos {
			a {
				position: variables.$absolute;
				color: colors.$secondarycolor;
				right: variables.$value__25;
				bottom: variables.$value__20;
				padding: variables.$value__10;
				background: colors.$white;
				border-radius: variables.$value__10;
				z-index: 100;
				i {
					color: colors.$darkash;
					@include mixins.transition(all 0.5s ease-in-out 0s);
					margin-right: 5px;
				}
				&:hover {
					background: colors.$primarycolor;
					color: colors.$white;
					i {
						color: colors.$white;
					}
				}
			}
		}
	}
	.venue-info {
		padding: 24px;
		box-shadow: colors.$row__box__shadow;
		@include mixins.respond-below(custom767) {
			padding: 10px 0;
		}
		h1{ 
			span {
				min-width: variables.$value__30;
				height: variables.$value__30;
				border-radius: variables.$value__30;
				background: colors.$primarylight;
				display: inline-block;
				margin-left: variables.$value__10;
				i {
					font-size: typography.$font__size__16;
					color: colors.$white;
				}
			}
		}
		ul{
			li {
				@extend %display-flex;
				@extend %justify-content-start;
				@extend %align-items-center;
				font-size: typography.$font__size__14;
				padding-right: variables.$value__15;
				@include mixins.respond-below(custom1199) {
					display: block;
					margin-bottom: variables.$value__10;
					margin-right: 0;
				}
				&.venue-review-info {
					@include mixins.respond-below(custom575) {
						display: flex;
					}
				}
				a {
					@extend %display-flex-center;
				}
				i {
					font-size: typography.$font__size__16;
					margin-right: 5px;
				}
				&:last-child {
					padding-right: 0;
				}
			}
			&.social-options {
				@include mixins.respond-below(custom991) {
					margin-top: 10px;
				}
				li {
					span {
						width: variables.$value__40;
						height: variables.$value__40;
						border-radius:variables.$value__40;
						background: colors.$primarycolor;
						color: colors.$white;
						font-weight: typography.$medium;
						font-size: typography.$font__size__18;
					}
					.review { 
						padding: 0 variables.$value__15;
						.rating {
							margin-bottom: 3px;
							i {
								margin-right: 0;
							}
						}
						p {
							font-size: 15px;
							font-weight: typography.$medium;
							text-decoration: underline;
						}
					}
					.fa-comments {
						font-size: typography.$font__size__20;
					}
					&:last-child {
						border:1px solid colors.$lightgray;
						border-radius: 6px;
						padding: variables.$value__10;
					}
				}
			}
			&.details {
				.profile-pic {
					img {
						width: 35px;
						height: 35px;
						border-radius: 35px;
					}
					.venue-type {
						background: linear-gradient(93.86deg, #006177 -2.6%, #269089 67.39%, #7ABC82 110.84%);
						border-radius: 50%;
						width: 35px;
						height: 35px;
						@extend %flex-align-center;
						img {
							width: 20px;
						}
					}
				}
				li {
					@extend %display-flex;
					@extend %justify-content-start;
					@extend %align-items-center;
					padding-right: variables.$value__20;
					p {
						margin-bottom: 0;
					}
				}
			}
		}
		.bottom-row {
			h3 {
				span {
					font-size: typography.$font__size__14;
					font-weight: typography.$regular;
				}
			}
		}
	}
	.venue-options {
		padding: 15px 15px 9px 15px;
		box-shadow: colors.$row__box__shadow;
		border-radius: variables.$value__10;
		&.option-list-court {
			padding: 15px 15px 0px 15px;
			ul {
				li {
					margin: 0 15px 15px 0;
				}
			}
		}
		ul {
			li {
				margin-bottom: variables.$value__20;
				margin: 0 6px 6px 0;
				float: left;
				a {
					padding: variables.$value__10 variables.$value__15;
					border: 1px solid colors.$lightgray;
					border-radius: 10px;
					display: flex;
					align-items: center;
					color: colors.$secondarycolor;
					span {
						width: 25px;
						height: 25px;
						background: colors.$light__whitesmoke;
						border-radius: 5px;
						@extend %flex-align-center;
						margin-right: 5px;
					}
				}
				&.active, &:hover {
					a { 
						background: colors.$secondarycolor;
						color: colors.$white;
						border-color: colors.$secondarycolor;
					}
				}
			}
		}
	}
	.write-review {
		position: absolute;
		top: 10px;
		right: 30px;
		z-index: 9;
		border: 0;
	}
	.accordion { 
		.accordion-item { 
			color: colors.$darkgray;
			box-shadow: colors.$row__box__shadow;
			border-radius: 10px;
			border: variables.$none;
			.accordion-header { 
				margin-left: variables.$value__20;
				margin-right: variables.$value__20;
				position: relative;
				.accordion-button {
					padding: variables.$value__20 0 variables.$value__20 0;
					font-size: typography.$font__size__20;
					margin-bottom: 0;
					color: colors.$secondarycolor;
					font-weight: typography.$semibold;
					border-color: colors.$lightgray;
					cursor: pointer;
					span {
						display: inline-flex;
						&.icon-bg {
							margin-right: 10px;
							min-width: variables.$value__30;
							height: variables.$value__30;
							@extend %flex-align-center; 
							border-radius: variables.$value__30;
							background: colors.$dull__whitesmoke;
							@include mixins.respond-below(custom767) {
								margin-right: 5px;
							}
							@include mixins.respond-below(custom479) {
								display: none;
							}
							img {
								line-height: 30px;
								filter: invert(50%) sepia(20%) saturate(7478%) hue-rotate(100deg) brightness(70%) contrast(40%);
							}
						}
					}
					a { 
						&.btn-gradient {
							padding: variables.$value__10 variables.$value__25;
							border: none;
							white-space: nowrap;
							margin-right: variables.$value__15;
							@include mixins.respond-below(custom767) {
								padding: 5px 12px;
								margin-right: 5px;
							}
						}
					}
					&:focus {
						border-color: colors.$lightgray;
						box-shadow: variables.$none;
					}
					&:not(.collapsed) {
						color: colors.$secondarycolor;
						background: variables.$none;
						box-shadow: variables.$none;
						border-bottom: 1px solid colors.$lightgray;
						&:after {
							background-image: var(--bs-accordion-btn-icon);
						}
					}
				}
			}
			&#overview, &#short-bio {
				.text { 
					&.show-more-height { 
						@include mixins.transition(all 0.7s ease-in-out 0s);
						height: 75px; 
					  	overflow:hidden; 
					}
				}
				.show-more {
					padding-top: variables.$value__10;
					cursor: pointer;
					font-size: typography.$font__size__14;
					i {
						margin-right: 5px;
					}
					&:hover {
						color: colors.$secondarycolor;
					}
				}
			}
			&#includes, &#lesson-with-me {
				.accordion-body {
					padding-bottom: 9px;
					ul {
						li {
							padding: variables.$value__10;
							border-radius: variables.$value__10;
							background: colors.$dull__whitesmoke;
							margin-right: variables.$value__15;
							margin-bottom: variables.$value__15;
							float: left;
							@extend %display-flex-center;
							&:last-child {
								margin-right: 0;
							}
							i {
								color: colors.$darkash;
								margin-right: 5px;
							}
							@include mixins.respond-below(custom479) {
								width: 100%;
								margin-right: 0;
							}
						}
					}
				}
			}
			&#includes, &#lesson-with-me {
				li {
					color: colors.$secondarycolor;
				}
			}
			&#rules {
				li {
					i {
						color: colors.$red;
						margin-right: 5px;
					}
					p {
						margin-bottom: variables.$value__10;
						display: inline-flex;
					    justify-content: start;
					    align-items: baseline;
					}
					&:last-child {
						p {
							margin-bottom: 0;
						}
					}
				}
			}
			&#amenities {
				@include mixins.respond-below(custom991) {
					.accordion-body {
						padding: 20px 20px 10px 20px;
					}
				}
				ul {
					li {
						color: colors.$darkgray;
						@include mixins.respond-below(custom991) {
							margin-bottom: variables.$value__10;
						}
						i {
							color: colors.$success;
							margin-right: 5px;
						}
					}
				}
			}
			&#gallery {
				.owl-nav {
					.owl-prev {
						left: 26px;
						@include mixins.respond-below(custom991) {
							top: 50%;
							right: auto;
							left: 26px;
						}
					}
					.owl-next {
						right: 26px;
						@include mixins.respond-below(custom991) {
							top: 50%;
						}
					}
				}
			}
			&#reviews {
				.review-wrapper {
					margin-bottom: variables.$value__20;
					.ratings-info {
						background: colors.$dull__whitesmoke;
						padding: 25px;
						h3 {
							margin-bottom: 0;
						}
						span {
							font-size: typography.$font__size__14;
							color: colors.$darkgray;
						}
						.rating {
							margin-bottom: variables.$value__15;
						}
					}
					.recommended {
						@include mixins.respond-below(custom991) {
							margin-top: variables.$value__15;
						}
						h5 {
							color: colors.$darkgray;
							margin-bottom: variables.$value__10;
						}
						p {
							font-size: typography.$font__size__14;
						}
						ul {
							@extend %display-flex;
							@extend %justify-content-start;
							@extend %align-items-center;
							li {
								@extend %display-flex;
								@extend %justify-content-start;
								@extend %align-items-center;
								i {
									width: variables.$value__20;
									height: 5px;
									background: colors.$yellow__dark;
									margin-right: 1px;
									display: inline-block;
								}
								&:last-child {
									margin-left: 5px;
								}
							}
						}
					}
				}
				.review-box {
					box-shadow: colors.$item__box__shadow;
					margin-bottom: variables.$value__20;
					padding: 24px;
					.review-profile {
						margin-right: variables.$value__10;
						@include mixins.respond-below(custom767) {
							margin: 0 0 20px 0;
						}
						img {
							width: 50px;
							height: 50px;
							border-radius: 50%;
						}
					}
					.review-info {
						.tittle {
							color: colors.$darkgray;
						}
						.rating {
							margin-bottom: variables.$value__15;
						}
						.success-text , .warning-text {
							display: inline-block;
							margin-bottom: variables.$value__15;
							font-size: typography.$font__size__14;
							i {
								margin-right: 5px;
							}
						}
						.success-text {
							color: colors.$parrot_green;
						}
						.warning-text {
							color: colors.$warning__text;
						}
						ul {
							margin-bottom: variables.$value__15;
							li {
								float: left;
								margin-right: 14px;
								@include mixins.respond-below(custom479) {
									margin-right: 14px;
									margin-bottom: 14px;
									&:nth-child( even ) {
										margin-right: 0;
									}
								}
								a { 
									overflow: hidden;
									cursor: pointer;
									img {
										border-radius: 5px;
										@include mixins.transition(all 0.5s ease-in-out 0s);
										-webkit-transform: scale(1.0);
										transform: scale(1.0);
										&:hover {
											-webkit-transform: scale(1.1);
						    				transform: scale(1.1);
										}
									}
								}
								&:last-child {
									margin-right: 0;
								}
							}
						}
						.post-date {
							font-size: typography.$font__size__14;
						}
						.dull-bg {
							padding: 24px;
							@include mixins.respond-below(custom479) {
								padding: 15px;
							}
						}
					}
				}
				.btn-load-more {
					padding: 16px variables.$value__20;
					border-color: colors.$lightgray;
					@include mixins.respond-below(custom991) {
						padding: 10px 15px;
					}
					&:hover {
						border-color: colors.$secondarycolor;
					}
					i {
						margin-left: 5px;
					}
				}
			}
			&#location {
				margin-bottom: 24px;
				iframe {
					width: variables.$full__width;
				}
				.dull-bg{
					margin-top: 10px;
					border-radius: 5px;
					padding: variables.$value__15;
					.white-bg {
						@extend %display-flex;
						@extend %justify-content-center;
						@extend %align-items-center;
						width: variables.$value__60;
						height: variables.$value__60;
						border-radius: 5px;
						padding: variables.$value__10;
						i {
							font-size: 28px;
							color: colors.$primarycolor;
						}
					}
					h6, p {
						margin-bottom: 0;
					}
					p {
						@include mixins.respond-below(custom991) {
							font-size: 15px;
						}
					}
				}
			}
		}
	}
	aside {
		@include mixins.respond-below(custom991) {
			margin-top: 24px;
		}
		.book-court {
			a {
				i {
					margin-right: 6px;
				}
			}
		}
		.white-bg {
			padding: 24px;
			margin-bottom: variables.$value__20;
			border-radius: variables.$value__10;
			box-shadow: colors.$row__box__shadow;
			&.next-availability {
				padding-bottom: 10px;
				@include mixins.respond-below(custom1399) {
					padding-bottom: 24px;
				}
				@include mixins.respond-below(custom991) {
					padding-bottom: 24px;
				}
			}
		}
		h4 {
			&.border-bottom { 
				@include mixins.margin-padding(0 0 24px 0, 0 0 variables.$value__20 0);
				border-bottom: 1px solid colors.$lightgray;
			}
		}

		.availability {
			.icon-bg {
				width: variables.$value__40;
				height: variables.$value__40;
				border-radius: variables.$value__40;
				background: colors.$dull__whitesmoke;
				@extend %display-flex;
				@extend %justify-content-center;
				@extend %align-items-center;
				i {
					color: colors.$primarycolor;
				}
				margin-right: 15px;
			}
			p {
				font-size: typography.$font__size__14;
			}
		}
		.book-court {
			h5, p {
				color: colors.$darkgray;
			}
			ul {
				padding: variables.$value__20;
				background: colors.$dull__whitesmoke;
				@include mixins.respond-below(custom767) {
					margin-top: variables.$value__20;
					text-align: center;
				}
				li {
					@include mixins.respond-below(custom767) {
						margin-top: variables.$value__20;
					}
					p {
						color: colors.$secondarycolor;
						font-size: typography.$font__size__14;
						margin-bottom: 0;
					}
					span {
						font-size: typography.$font__size__14;
						i { 
							font-weight: typography.$bold;
						    font-size: typography.$font__size__24;
						    color: colors.$primarycolor;
						}
					}
				}
			}
		}
		form {
			.input-group {
				input {
					cursor: pointer;
					&.form-control {
						background: colors.$white;
						height: 45px;
						border: 1px solid  colors.$input__group__border;
						color: colors.$darkgray;
						text-align: center;
					}
					&.active {
						&.form-control {
							background: colors.$primarycolor;
							color: colors.$white;
							border-color: colors.$primarycolor;
						}
					}
				}
			}
			.policy {
				margin: variables.$value__25 0;
				cursor: pointer;
				label{ 
					color: colors.$darkgray;
					font-size: typography.$font__size__14;
				}
			}
		}
		.cage-owner-info {
			.profile-pic {
				margin-right: 10px;
				img {
					border-radius: 100%;
					width: 80px;
					height: 80px;
				}
			}
			.rating { 
				span {
					font-size: typography.$font__size__14;
				}
			}
			a {
				i {
					margin-right: 6px;
				}
			}
		}
		.listing-owner {
			li { 
				margin-bottom: variables.$value__15;
				&:last-child {
					margin-bottom: 0;
				}
				img {
					max-width: 119px;
					border-top-left-radius: variables.$value__10;
					border-bottom-left-radius: variables.$value__10;
				}
				.owner-info { 
					padding: 21px;
					border: 1px solid colors.$lightgray;
					border-radius: 0px 10px 10px 0px;
					overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    @include mixins.respond-below(custom991) {
				    	width: 100%;
				    }
				    h5 {
				    	white-space: nowrap;
					    text-overflow: ellipsis;
					    overflow: hidden;
					    margin-bottom: 8px;
				    	a {
				    		color: colors.$secondarycolor;
				    	}
				    }
				    p {
				    	margin-bottom: 15px;
						@extend %display-flex-center;
				    	i {
				    		margin-right: 5px;
				    	}
				    }
					p, span {
						font-size: typography.$font__size__14;
						overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					}
				}
			}
		}
	}
	.circle-radius {
		border-radius: variables.$full__width;
	}
	.rating i {
		color: colors.$yellow__dark;
		font-size: typography.$font__size__14;
		span {
			font-size: typography.$font__size__14;
		}
	}
}
.innerpagebg {
	background: colors.$light__whitesmoke;
}
.dull-bg {
	background: colors.$dull__whitesmoke;
}
.social-medias {
	display: inline-block;
	li{
		width: variables.$value__30;
		height: variables.$value__30;
		border-radius: variables.$value__30;
		@extend %display-flex;
		@extend %justify-content-center;
		@extend %align-items-center;
		margin-right: 5px;
		@include mixins.transition(all 0.5s ease-in-out 0s);
		&:hover {
			i {
				transform: rotateY(360deg);
			}
		}
		&:last-child{
			margin-right: 0;
		}
		i{
			color: colors.$white;
			margin-right: 0;
			@include mixins.transition(all 0.5s ease-in-out 0s);
		}
		&.facebook, &.linkedin {
			background: colors.$facebook;
		}
		&.instagram, &.pinterest {
			background: colors.$instagram;
		}
		&.behance {
			background: colors.$behance;
		}
		&.twitter {
			background: colors.$twitter;
		}
	}
}
.corner-shrink {
	a {
		flex-shrink: 0;
	}
}
.favour-adds {
	&.selected-color {
		color: colors.$primarycolor;
	}
}
