@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

/*-----------------
    34. Wallet
-----------------------*/

.wallet-wrap {
    background: colors.$primarycolor;
    border-radius: 10px;
    @include mixins.margin-padding(0 0 24px, 25px);
	position: variables.$relative;
	overflow: hidden;
	&.wallet-modal {
		margin-bottom: 15px;
		.wallet-amt {
			h5 {
				font-size: typography.$font__size__14;
				color: colors.$white;
				margin-bottom: 10px;
				font-weight: 400;
			}
		}
	}
	&:after {
		position: absolute;
		content:"";
		background: rgba(170, 244, 12, 0.1);
		width: 208px;
		height: 208px;
		top: 90px;
		border-radius: 120px;
		left: 130px;
	}
    h2 {
        color: colors.$white;
        font-size: typography.$font__size__36;
		margin-bottom: 0;
		font-weight: 700;
        @include mixins.respond-below(custom1199) {
            font-size: typography.$font__size__24;
        }
        @include mixins.respond-below(custom767) {
            font-size: typography.$font__size__20;
        }
    }
    .wallet-bal {
        @extend %display-flex-center;
		@extend %justify-content-between;
        border-bottom: 1px solid colors.$dull__whitesmoke;
        margin-bottom: 32px;
		padding-bottom: 32px;
        @include mixins.respond-below(custom575) {
            display: variables.$block;
            margin-bottom: 10px;
			padding-bottom: 10px;
        }
        .wallet-img {
            @extend %display-flex-center;
			@include mixins.respond-below(custom767) {
				margin-bottom: 15px;
			}
            span {
                margin-right: 20px;
            }
            .wallet-amt {
                h5 {
                    color: colors.$white;
                    margin-bottom: 10px;
					font-size: typography.$font__size__14;
                }
            }
        }
		.payment-btn {
			display: grid;
			@include mixins.respond-below(custom767) {
				display: variables.$block;
			}
			.balance-add {
				border: 1px solid colors.$active_color;
				color: colors.$active_color;
				margin-bottom: 15px;
				@include mixins.respond-below(custom767) {
					margin-bottom: 0px;
					margin-right: 10px;
				}
				&:hover {
					background: colors.$active_color;
					color: colors.$white;
				}
			}
			.btn-transfer {
				background: colors.$yellow__dark;
				border: 1px solid colors.$yellow__dark;
				color: colors.$white;
				&:hover {
					border: 1px solid colors.$secondarycolor;
					background: colors.$secondarycolor;
				}
			}
			.btn {
				color: colors.$white;
				margin-left: variables.$auto;
				font-weight: 400;
				display: variables.$inline__block;
				min-width: 105px;
				font-size: typography.$font__size__14;
				padding: 10px 9px;
				border-radius: 5px;
				&.balance-add{
					color: #AAF40C;
					&:hover{
						color: colors.$white
					}
				}
			}
		}
    }
    ul {
        @extend %display-flex-center;
		@extend %justify-content-between;
		@include mixins.respond-below(custom767) {
			display: variables.$block;
		}
        li {
			@include mixins.respond-below(custom767) {
				margin-bottom: 15px;
			}
			&:last-child {
				@include mixins.respond-below(custom767) {
					margin-bottom: 0px;
				}
			}
            h6 {
                color: colors.$white;
                font-size: typography.$font__size__14;
                font-weight: 400;
                margin-bottom: 5px;
            }
			h3 {
				color: colors.$white;
				font-weight: 600;
				margin-bottom: 0;
			}
        }
    }
}
.your-card {
	background: colors.$white;
	box-shadow: colors.$row__box__shadow;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 24px;
	padding: 24px;
	.your-card-head {
		@extend %display-flex-center;
		@extend %justify-content-between;
		margin-bottom: 20px;
		h3 {
			color: colors.$text_dark;
			font-weight: 600;
			margin-bottom: 0;
		}
		.btn {
			border: 1px solid colors.$darkgray;
			border-radius: 5px;
			padding: 8px 9px;
			font-size: typography.$font__size__14;
			font-weight: 400;
		}
	}
	.debit-card-blk {
		padding: 15px;
		max-width: 406px;
		background: colors.$dull__whitesmoke;
		border-radius: 10px;
		@extend %display-flex-center;
		@extend %justify-content-between;
		.debit-card-balence {
			span {
				font-size: typography.$font__size__14;
				font-weight: 400;
				color: colors.$light__black;
				margin-bottom: 5px;
			}
			h5 {
				margin-bottom: 20px;
			}
			.card-number {
				border-top: 1px solid colors.$bright__gray;
				padding-top: 20px;
				h4 {
					color: colors.$primarycolor;
					margin-bottom: 0;
				}
			}
		}
	}
}
.court-table-head {
	@include mixins.respond-below(custom991) {
		margin-bottom: 20px;
	}
}
.table-accept-btn {
	@extend %display-flex;
	.btn-secondary {
		margin-right: 15px;
	}
}