@use "../base/colors";
@use "../utils/mixins";
@use "../utils/variables";

/*-----------------
	9. Forms
-----------------------*/

form {
	label, input {
		color: colors.$secondarycolor;
	}
	input {
		height: variables.$value__60;
	}
	input, textarea,select { 
		&.form-control {
			padding: variables.$value__20;
			border-radius: variables.$value__10;
			background: colors.$light__whitesmoke;
			border: variables.$none;
			&:focus {
				box-shadow: variables.$none;
				background: colors.$light__whitesmoke;
			}
			&::placeholder {
				color: colors.$darkgray;
			}
		}
	}
	textarea {
		resize: none;
	}
	label {
		&.form-label{
			margin-bottom: 10px;
		}
		span {
			color: colors.$red;
		}
	}
	.form-icon {
		position: variables.$relative;
		span {
			&.cus-icon {
				@include mixins.position(variables.$absolute,50%,15px,null,null);
			    transform: translateY(-50%);
			    height: auto;
			    color: colors.$darkash;
			}
		}
	}
}
.form-check { 
	@include mixins.margin-padding(0, 0);
	.form-check-input[type=radio] {
		margin: 0;
		width: 20px;
		height: 20px;
		position: variables.$relative;
		flex-shrink: 0;
		cursor: pointer;
		&:after {
			position: variables.$absolute;
			left: 50%;
			top: 50%;
			@include mixins.transform(translate(-50%, -50%));
			content: '';
			width: 8px;
			height: 8px;
			border-radius: 8px;
			background: colors.$primarycolor;
			display: none;
		}
		&:focus {
			box-shadow: none;
		}
		&:checked {
			background: transparent;
			border-color: colors.$primarycolor;
			&:after {
				display: block;
			}
		}
	}
	.form-check-input[type=checkbox] {
		margin: 0 10px 0 0;
		cursor: variables.$pointer;
		&:focus {
			box-shadow: none;
		}
		&:checked {
			background-color: colors.$primarycolor;
			border-color: colors.$primarycolor;
		}
	}
	.default-check[type=checkbox] {
		width: variables.$value__20;
		height: variables.$value__20;
		border-radius: 4px;
		&:focus {
			box-shadow: none;
		}
		&:checked {
			background-color: colors.$primarycolor;
			border-color: colors.$primarycolor;
		}
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
  	margin: 0;
}
input[type=number] {
  	-moz-appearance: textfield;
}
.form-error{
	color: red;
}