@use "../base/colors";
@use "../base/typography";
@use "../utils/mixins";
@use "../utils/variables";

/*-----------------
	10. Select
-----------------------*/

.select2-results__option {
	@include mixins.margin-padding(null, variables.$value__10);
	font-size: typography.$font__size__14;
}
.select2-container {
	.select2-selection--single {
		border: variables.$none;
		height: variables.$value__60;
		outline: variables.$none;
		outline-color: variables.$transparent;
		.select2-selection__rendered {
			padding-right: 30px;
			padding-left: 15px;
		}
	}
}
.select2-dropdown {
    z-index: 1055;
}
.select2-container--default {
	&.select2-container--open {
		&.select2-container--below {
			.select2-selection--single {
				.select2-selection__rendered {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
		}
		&.select2-container--above {
			.select2-selection--single {
				.select2-selection__rendered {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
				}
			}
		}
	}
	.select2-selection--single {
		&:focus {
			outline: 0;
			box-shadow: none;
		}
		.select2-selection__arrow {
			height: variables.$value__60;
			right: 2px;
			&:focus {
				outline: 0;
				box-shadow: none;
			}
			b {
				border-color: colors.$lightgray variables.$transparent variables.$transparent;
				border-style: solid;
				border-width: 6px 6px 0;
				height: 0;
				margin-left: -10px;
				margin-top: -2px;
				width: 0;
				@include mixins.position(variables.$absolute, 50%, null, null, 50%);
			}
		}
		.select2-selection__rendered {
			height: variables.$value__60;
			line-height: 55px;
			font-size: typography.$font__size__16;
			border: variables.$none;
			background: colors.$light__whitesmoke; 
			border-radius: variables.$value__10;
		}
	}
	&.select2-container--open {
		.select2-selection--single {
			.select2-selection__arrow {
				b {
					border-color: variables.$transparent variables.$transparent colors.$lightgray;
					border-width: 0 6px 6px;
				}
			}
		}
	}
	.select2-results__option--highlighted[aria-selected] {
		background-color: colors.$secondarycolor;
	}
	.select2-selection--multiple {
		border: 1px solid colors.$lightgray;
		min-height: 46px;
	}
}
.select2-dropdown {
	border-color: colors.$lightgray;
}
.form-focus .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #676767;
    font-size: 14px;
    font-weight: normal;
    line-height: 38px;
}
.form-focus .select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 30px;
    padding-left: 12px;
    padding-top: 10px;
}